<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="Mobirise v4.5.2, mobirise.com" name="generator">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">
  <meta content="" name="description">
  <title>Server Error</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:700,400&subset=cyrillic,latin,greek,vietnamese" rel="stylesheet">
  <link href="/assets/web/assets/mobirise-icons/mobirise-icons.css" rel="stylesheet">
  <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/animate.css/animate.min.css" rel="stylesheet">
  <link href="/assets/socicon/css/socicon.min.css" rel="stylesheet">
  <link href="/assets/mobirise/css/style.css" rel="stylesheet">
  <link href="/assets/mobirise/css/mbr-additional.css" rel="stylesheet" type="text/css">
</head>

<body>
  <section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-parallax-background" data-rv-view="9" id="content5-n" style="background-image: url(/assets/images/bg3.jpg);">
    <div class="mbr-section__container container mbr-section__container--first" style="padding-top: 93px;">
      <div class="mbr-header mbr-header--wysiwyg row">
        <div class="col-sm-8 col-sm-offset-2">
          <h3 class="mbr-header__text">ERROR</h3>
        </div>
      </div>
    </div>
    <div class="mbr-section__container container mbr-section__container--last" style="padding-bottom: 93px;">
      <div class="row">
        <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2">
        	<p><%= message %></p>
        </div>
      </div>
    </div>
  </section>

  <script src="/assets/web/assets/jquery/jquery.min.js">
  </script> 
  <script src="/assets/bootstrap/js/bootstrap.min.js">
  </script> 
  <script src="/assets/smooth-scroll/smooth-scroll.js">
  </script> 
  <script src="/assets/jarallax/jarallax.js">
  </script> 
  <script src="/assets/mobirise/js/script.js">
  </script>
</body>
</html>