<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="Mobirise v4.5.2, mobirise.com" name="generator">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">
  <meta content="" name="description">
  <title><%= title %></title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:700,400&subset=cyrillic,latin,greek,vietnamese" rel="stylesheet">
  <link href="/assets/web/assets/mobirise-icons/mobirise-icons.css" rel="stylesheet">
  <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/animate.css/animate.min.css" rel="stylesheet">
  <link href="/assets/socicon/css/socicon.min.css" rel="stylesheet">
  <link href="/assets/mobirise/css/style.css" rel="stylesheet">
  <link href="/assets/mobirise/css/mbr-additional.css" rel="stylesheet" type="text/css">
</head>

<body>
  <section class="mbr-navbar mbr-navbar--freeze mbr-navbar--absolute mbr-navbar--sticky mbr-navbar--auto-collapse" data-rv-view="2" id="ext_menu-i">
    <div class="mbr-navbar__section mbr-section">
      <div class="mbr-section__container container">
        <div class="mbr-navbar__container">
          <div class="mbr-navbar__column mbr-navbar__column--s mbr-navbar__brand">
            <span class="mbr-navbar__brand-link mbr-brand mbr-brand--inline"><span class="mbr-brand__logo"><a class="mbri-change-style mbr-iconfont mbr-iconfont-menu" href="/"></a></span>
            <span class="mbr-brand__name"><a class="mbr-brand__name text-white" href="/">STUDYLANCE</a></span></span>
          </div>
          <div class="mbr-navbar__hamburger mbr-hamburger">
            <span class="mbr-hamburger__line"></span>
          </div>
          <div class="mbr-navbar__column mbr-navbar__menu">
            <nav class="mbr-navbar__menu-box mbr-navbar__menu-box--inline-right">
              <div class="mbr-navbar__column">
                <ul class="mbr-navbar__items mbr-navbar__items--right float-left mbr-buttons mbr-buttons--freeze mbr-buttons--right btn-decorator mbr-buttons--active mbr-buttons--only-links">
                  <li class="mbr-navbar__item">
                    <a class="mbr-buttons__link btn text-white" href="/">HOME</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>

<!--   <section class="engine">
    <a href="https://mobirise.co/m">bootstrap table</a>
  </section> -->

  <section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background" data-rv-view="6" id="header4-h" style="background-image: url(/assets/images/mbr-1620x1080.jpg);">
    <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-center mbr-after-navbar">
      <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);"></div>
      <div class="mbr-box__container mbr-section__container container">
        <div class="mbr-box mbr-box--stretched">
          <div class="mbr-box__magnet mbr-box__magnet--center-center">
            <div class="row">
              <div class=" col-sm-8 col-sm-offset-2">
                <div class="mbr-hero animated fadeInUp">
                  <h1 class="mbr-hero__text">STUDYLANCE<br>Self-Study Supporter</h1>
                  <p class="mbr-hero__subtext">Let's study now with someone! No registration and free.</p>
                </div>
                <div class="mbr-buttons btn-inverse mbr-buttons--center">
                  <a id="enter-button" class="mbr-buttons__btn btn btn-lg btn-danger animated fadeInUp delay">Enter Rooms</a>
                  <a class="mbr-buttons__btn btn btn-lg btn-default animated fadeInUp delay" href="/#content5-n">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-parallax-background" data-rv-view="9" id="content5-n" style="background-image: url(/assets/images/bg3.jpg);">
    <div class="mbr-section__container container mbr-section__container--first" style="padding-top: 93px;">
      <div class="mbr-header mbr-header--wysiwyg row">
        <div class="col-sm-8 col-sm-offset-2">
          <h3 class="mbr-header__text">Self-Study Room on Cloud</h3>
        </div>
      </div>
    </div>
    <div class="mbr-section__container container mbr-section__container--last" style="padding-bottom: 93px;">
      <div class="row">
        <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2">
          <p><strong>STUDYLANCE</strong>とは、「Study（勉強）」と「Surveillance（監視）」を組み合わせた造語です。当サービスでは、入室ボタンをクリックしていただくだけで、簡単にクラウド自習室を利用することができます。我々が提供するクラウド自習室は、「互いに見張る」ことをコンセプトにした、WEBカメラとビデオ通話を利用した次世代のオンライン学習支援コンテンツです。</p>
          <p>さあ、世界中の人と一緒に、勉学に励みましょう！</p>
        </div>
      </div>
    </div>
  </section>

  <section class="mbr-section mbr-section--relative mbr-section--fixed-size" data-rv-view="12" id="features1-j" style="background-color: rgb(255, 255, 255);">
      <div class="mbr-section__container mbr-section__container--std-top-padding mbr-section__container--sm-bot-padding mbr-section-title container" style="padding-top: 93px;">
          <div class="mbr-header mbr-header--center mbr-header--wysiwyg row">
              <div class="col-sm-8 col-sm-offset-2">
                  <h3 class="mbr-header__text">Features of STUDYLANCE</h3>
              </div>
          </div>
      </div>
      <div class="mbr-section__container container">
          <div class="mbr-section__row row">
              <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                  <div class="mbr-section__container mbr-section__container--middle">
                      <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                          <h3 class="mbr-header__text">No Registration</h3>
                      </div>
                  </div>
                  <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                      <div class="mbr-article mbr-article--wysiwyg">
                          <p>STUDYLANCEは登録不要。<br>
                          煩わしいログイン操作やIDとパスワードを記憶する必要もありません。また、完全匿名型サービスであるため、SNS特有の繋がりによる煩わしさからも解放されるでしょう。</p>
                      </div>
                  </div>
              </div>
              <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                  <div class="mbr-section__container mbr-section__container--middle">
                      <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                          <h3 class="mbr-header__text">Free</h3>
                      </div>
                  </div>
                  <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                      <div class="mbr-article mbr-article--wysiwyg">
                          <p>STUDYLANCEは完全無料。<br>
                          自習室を利用するのにお金は必要ありません。必要なのは、ブラウザとWEBカメラとやる気だけ。どんな場所でも勉強に集中することが可能です。</p>
                      </div>
                  </div>
              </div>
              <div class="clearfix visible-sm-block"></div>
              <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                  <div class="mbr-section__container mbr-section__container--middle">
                      <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                          <h3 class="mbr-header__text">No Voice, only Video</h3>
                      </div>
                  </div>
                  <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                      <div class="mbr-article mbr-article--wysiwyg">
                          <p>STUDYLANCEは映像配信のみ。<br>
                          世間のビデオ通話やグループチャットシステムとは違い、音声による通話をすることができません。おしゃべりせずに、お気に入りの音楽を聴きながら勉強しましょう。</p>
                      </div>
                  </div>
              </div>
              <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                  <div class="mbr-section__container mbr-section__container--middle">
                      <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                          <h3 class="mbr-header__text">Easy to Use</h3>
                      </div>
                  </div>
                  <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                      <div class="mbr-article mbr-article--wysiwyg">
                          <p></p>
                          <p>STUDYLANCEはシンプル。<br>
                          入室ボタンをクリックするだけで、自動的に自習室に案内されます。Roomメイトを見張りながら、集中力を持続させることが可能です。</p>
                          <p></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="mbr-section mbr-section--relative mbr-section--fixed-size" data-rv-view="15" id="social-buttons2-m" style="background-color: rgb(240, 240, 240);">
    <div class="mbr-section__container container">
      <div class="mbr-header mbr-header--inline row" style="padding-top: 40.8px; padding-bottom: 40.8px;">
        <div class="col-sm-4">
          <h3 class="mbr-header__text">FOLLOW US</h3>
        </div>
        <div class="mbr-social-icons mbr-social-icons--style-1 col-sm-8">
          <a class="mbr-social-icons__icon socicon-bg-facebook" href="https://www.facebook.com/tohn.furutani" target="_blank" title="Facebook"><i class="socicon socicon-facebook"></i></a>
          <a class="mbr-social-icons__icon socicon-bg-googleplus" href="https://plus.google.com/u/0/114813712049732053824" target="_blank" title="Google+"><i class="socicon socicon-googleplus"></i></a>
          <a class="mbr-social-icons__icon socicon-bg-github" href="https://github.com/tonchan1216" target="_blank" title="GitHub"><i class="socicon socicon-github"></i></a>
        </div>
      </div>
    </div>
  </section>

  <section class="mbr-section mbr-section--relative mbr-section--fixed-size" data-rv-view="4" id="contacts1-l" style="background-color: rgb(60, 60, 60);">
    <div class="mbr-section__container container">
      <div class="mbr-contacts mbr-contacts--wysiwyg row" style="padding-top: 45px; padding-bottom: 45px;">
        <div class="col-sm-4">
          <div>
            <a class="mbri-change-style mbr-iconfont mbr-iconfont-contacts1" href="https://mobirise.com"></a>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-4">
              <p class="mbr-contacts__text"></p>
            </div>
            <div class="col-sm-4">
              <p class="mbr-contacts__text">
                <strong>CONTACTS</strong><br>
                Email: cleartone1216@gmail.com<br>
              </p>
            </div>
            <div class="col-sm-4">
              <p class="mbr-contacts__text"><strong>LINKS</strong></p>
              <ul class="mbr-contacts__list">
                <li>
                  <a class="mbr-contacts__link text-gray" href="https://github.com/tonchan1216">tonchan1216 on GitHub</a>
          	    </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="mbr-section mbr-section--relative mbr-section--fixed-size" data-rv-view="0" id="footer1-g" style="background-color: rgb(68, 68, 68);">
    <div class="mbr-section__container container">
      <div class="mbr-footer mbr-footer--wysiwyg row" style="padding-top: 36.9px; padding-bottom: 36.9px;">
        <div class="col-sm-12">
          <p class="mbr-footer__copyright"></p>
        </div>
      </div>
    </div>
  </footer>

  <script src="/assets/web/assets/jquery/jquery.min.js">
  </script> 
  <script src="/assets/bootstrap/js/bootstrap.min.js">
  </script> 
  <script src="/assets/smooth-scroll/smooth-scroll.js">
  </script> 
  <script src="/assets/jarallax/jarallax.js">
  </script> 
  <script src="/assets/mobirise/js/script.js">
  </script>
  <script src="/js/script.js">
  </script>
</body>
</html>